
@{
    ViewData["Title"] = "Index";
}



@model IEnumerable<Students>

<h1>Students List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.REGNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEPT)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                        <tr>
                            <td>
                    @Html.DisplayFor(modelItem => item.REGNO)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                                <td>
                    @Html.DisplayFor(modelItem => item.DEPT)
                                </td>
                                    
                            <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.StudentId">Details</a> *@|
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
        }
    </tbody>
</table>